* {
    color: white;
}

body {
    background-color: black;
}

img {
    height: 70px;
    margin: 10px 10px 10px 10px;
    border: 2px black solid;
    padding: 1px;
    
}

.button {
    border-radius: 50px;
    margin: 5px 15px 5px 15px;
    width: 120px;
}

form div {
    padding: 10px;
}

table, th, tr, td {
    padding: 5px;
    margin: 5px;
    border: white 2px solid;
}

.inline-demo {
    border: 1px red solid;
}

.first {
    display: inline-block;
}

.second {
    display: inline-block;
}
.nav-container {
    display: flex;
    background-color: grey;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    justify-content: space-around;
    border-radius: 10px;
}
.nav-container h1 {
    font-weight: bold;
}
.nav-container ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 600px;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
}